.cart-details{
  background: white;
  padding: 15px;
  margin-top: 39px;
}

#shopping-cart {
  .product-image {
    max-width: 50px;
  }

  .product-name {
    font-size: 15px;
    color:black;
  }
}

