.app-header {
  width: 100%;
  padding: 12px;
  background: #22226d;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.app-title {
  font-size: 22px;
  padding: 8px;
  color: white;
  cursor: pointer;
}

.cart-icon {
  font-size: 25px;
  float: right;
  color: white;
  padding-right: 15px;
  padding-top: 5px;
}
.app-body {
  padding: 15px;
}
.app-logo {
  width: 35px;
  cursor: pointer;
}

.cart-item-count{
  position: absolute;
  width: 20px;
  height: 15px;
  background: red;
  border-radius: 50%;
  font-size: 15px;
  padding-left: 6px;
  display: inline-table;
  margin-top: -37px;
  margin-left: 15px;
}
