<div class="row product-list-body">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body card-padding">
        <h3 class="products-label">Products</h3>
        <div routerLinkActive="" [routerLink]="'product/'+product.$key" class="product-body" *ngFor="let product of items | async">
          <img src="{{product.cover}}" class="product-cover" alt="">
          <div class="product-title">{{product.name}}</div>
          <span class="product-price-unit">{{product.unit}}</span><span class="product-price">{{product.price}}</span>

        </div>
      </div>
    </div>
  </div>
</div>

